[submodule "samples/1.helloworld"]
	path = samples/1.helloworld
	url = git@github.com:rodrigoelp/reactnative-typescript-exercise-1.git
[submodule "samples/2.actions"]
	path = samples/2.actions
	url = git@github.com:rodrigoelp/reactnative-typescript-exercise-2.git
[submodule "samples/3.todos"]
	path = samples/3.todos
	url = git@github.com:rodrigoelp/reactnative-typescript-exercise-3.git
[submodule "samples/4.navscreen"]
	path = samples/4.navscreen
	url = git@github.com:rodrigoelp/reactnative-typescript-exercise-4.git
